{% extends 'base/base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-sm-12">
                <h1 class="pt-50 pb-50">Votre inscription</h1>
                {{ form_start(userRegistrationForm) }}
                <div class="col-md-12">
                    {{ form_widget(userRegistrationForm) }}
                </div>
                <div class="col-md-12 text-center btn-subscribe">
                    <button class="btn btn-lg btn-primary mt-25" type="submit">
                        Passer de bons moments !
                    </button>
                </div>
                {{ form_end(userRegistrationForm) }}
            </div>
        </div>
{% endblock %}
