<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Good Time{% endblock %}</title>
        <meta name="description" content="Vive Nils 1er ! De la maison Lapotre, Roi des Andals et des Premiers Hommes, Roi légitime des
        Sept Couronnes et Protecteur du Royaume, Roi de Meereen, l'Imbrûlé, Briseur de Chaînes, Khaleesi et Mère des
        Dragons.">
        <link rel="icon" type="image/png" href="/media/logo-small.png"/>
        {%- block stylesheets -%}
            {# Bootstrap's stuff #}
            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" href="/css/bootstrap-grid.css">
            <link rel="stylesheet" href="/css/bootstrap-reboot.css">
            <link rel="stylesheet" href="/css/bootstrap-theme.css">
            {# Google fonts #}
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Raleway">
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:li">
            {# Google icons #}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">
            {# Schedule jQuery Plugin #}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
            <link rel="stylesheet" href="/css/jquery.schedule.css">
            {# Custom #}
            <link rel="stylesheet" href="/css/styles.css">
        {%- endblock -%}
    </head>
    <body {% block bodyClass %}{% endblock %}>

        {% include('/base/nav.html.twig') %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include('/base/footer.html.twig') %}

        {%- block javascripts -%}
            {# Schedule jQuery Plugin #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="/js/jquery.schedule.js"></script>
            <script src="/js/functions.js"></script>

            {# Bootstrap's stuff #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
                    integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
