<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Good Time - Vive Nils 1er{% endblock %}</title>
        <meta name="description" content="Roi légitime des sept couronnes, roi des Andals et des Premiers Hommes,
        protecteur du royaume, mère des dragons et khaleesi.">
        {%- block stylesheets -%}
            {# Bootstrap's stuff #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                  crossorigin="anonymous">
            {# Google fonts #}
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Raleway">
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:li">
            {# Custom #}
            <link rel="stylesheet" href="/css/styles.css">
        {%- endblock -%}
    </head>
    <body {% block bodyClass %}{% endblock %}>

        {% include('/base/nav.html.twig') %}
        {% block body %}{% endblock %}
        {% include('/base/footer.html.twig') %}

        {% block javascripts %}
             {#Bootstrap's stuff #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
                    integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
