{% block nav %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark-custom">
    <div class="collapse navbar-collapse" id="navbarDefault">
        <ul class="navbar-nav mr-auto">

            {# Todo : fancy menu on the left #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"><i class="material-icons">menu</i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    {% if app.user %}
                        <li><a class="dropdown-item" href="/profil">Profil</a></li>
                        <li><a class="dropdown-item" href="/bar">Bar</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="/inscription">Inscription</a></li>
                        <li><a class="dropdown-item" href="/login">Connexion</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="/inscription">Ajouter votre établissement</a>
                </li>
            {% endif %}
        </ul>
        {# Todo : search in bars map #}
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
            {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#</form>#}
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Carte des bars</button>
        {#<a class="navbar-brand" href="{{ url('homepage') }}">#}
            {#<img alt="Brand" src="/media/logo-small.png" width="40" height="40">#}
        {#</a>#}
    </div>
</nav>
{% endblock %}
