/* Main */
p {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.rainbow {
    font-family: RainbowBridge;
    font-size: 8rem;
}

/* Homepage */
body {
    background-image: url("/media/mnm-all-552510-unsplash.jpg");
    background-size: cover;
}

.cover-heading, .lead, .inner{
    color: white;
}

@font-face {
    font-family: RainbowBridge;
    src: local("RainbowBridge"),
    url('/fonts/RainbowBridge.ttf');
}
