/* =========================================
                Main
   ========================================= */
p {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    padding-top: 56px;
}

.rainbow {
    font-family: RainbowBridge;
    font-size: 8rem;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-25 {
    margin-top: 25px;
}

@font-face {
    font-family: RainbowBridge;
    src: local("RainbowBridge"),
    url('/fonts/RainbowBridge.ttf');
}

/* =========================================
                Nav
   ========================================= */
.btn-outline-success {
    color: #eac67a;
    border-color: #eac67a;
}

.btn-primary {
    background-color: #dda329;
}

.btn-primary.active,
.btn-primary:active{
    background-color: #dda329;
    box-shadow: 0 0 0 .2rem #eac67a;
}

.btn-outline-success.focus,
.btn-outline-success:focus{
    background-color: #dda329;
    box-shadow: 0 0 0 .2rem #eac67a;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #eac67a;
    border-color: #eac67a;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #eac67a;
    border-color: #eac67a;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(234, 198, 122, 0.5);
}

.bg-dark-custom {
    background-color: #233237;
}

.dropdown-toggle::after {
    display: none;
}

/* =========================================
                Forms
   ========================================= */
/*.form-control {*/
    /*margin-top: 10px;*/
    /*width: 50%;*/
/*}*/

/*label, input {*/
    /*display: block;*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(234, 198, 122, 0.25);
}

.btn-subscribe {
    display: block;
    float: left;
}
