{% extends 'base/base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pt-50 pb-50">Il semblerait que vous n'ayez pas encore enregistré votre bar. Nous vous invitons à le
                faire <a href="/inscription-bar">ici</a>.</h1>
        </div>
    </div>
{% endblock %}
