{% extends 'base/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block bodyClass %}class="text-center"{% endblock %}

{% block body %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">

        <h1 class="rainbow pt-50">Good Tim&lt;e</h1>
        <p class="lead">Trouvez le meilleur bar autour de vos amis et vous.</p>
        <button class="btn btn-default my-2 my-sm-0">App Store</button>
        <button class="btn btn-default my-2 my-sm-0">Google Play</button>
    </main>
</div>
{% endblock %}