{% if id is not defined %}
    {% set id = 1 %}
{% endif %}
{% if hiddenBtn is not defined %}
    {% set hiddenBtn = 0 %}
{% endif %}

<button type="button" class="btn btn-danger"
        data-toggle="modal" data-target="#modal-deny-reservation"
        {% if hiddenBtn == 1 %}hidden="hidden"{% endif %}>
    Refuser
</button>

{% block modalDenyReservation %}
    <!-- Modal -->
    <div id="modal-deny-reservation" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Veuillez entrer le motif de votre refus :</h4>
                </div>
                <div class="modal-body">
                    <textarea id="whyOhWhy">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">J'ai changé d'avis</button>
                    <button type="button" class="btn btn-danger btn-res-deny" data-dismiss="modal" data-resa="{{ id }}">
                        Je refuse cette réservation</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
