<button type="button" class="btn btn-success" id="btnCreateDiscount"
        data-toggle="modal" data-target="#modal-create-discount">Créer une réduction</button>

{% block modalApplyDiscount %}
    <!-- Modal -->
    <div id="modal-create-discount" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Appliquer une réduction à une catégorie de produits :</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body col-md-12">
                    <label for="categoryTypeSelect" class="col-md-5 float-md-left">Catégorie de produits</label>
                    <select class="form-control col-md-5 float-md-left" id="categoryTypeSelect">
                        {% for category, items in products %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>

                    <label for="reduction" class="col-md-5 float-md-left">Prix après réduction</label>
                    <input type="text" placeholder="00,00" id="reduction" class="col-md-5 form-control float-md-left">
                    <span class="col-md-1 float-md-left">€</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btn-create-discount">Appliquer</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
