<h2>Vos horaires :</h2>

<small>Cliquez sur les créneaux ci-dessous pour les ajouter. Les créneaux non colorés signifient que vous êtes fermé à
cet horaire là. Cochez le mode Happy Hour pour sélectionner vos horaires d'Happy Hour.</small>

<!-- Default switch -->
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="happySwitch">
    <label class="custom-control-label" for="happySwitch">Happy Hour</label>
</div>

<div id="schedule" class="mb-3"></div>
